.logoContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
}

.nav {
  display: none;
}

.showNav {
  display: block;
}

.navList {
  list-style-type: none;
  font-size: 1.4rem;
  text-align: center;
}

.navList li {
  margin-bottom: 1rem;
}

.navLink {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.activeNav,
.navLink:hover {
  color: var(--color-accent-1);
}

@media screen and (min-width: 499px) {
  .showNav, .nav {
    display: flex;
    justify-content: center;
    padding: 1rem 1.2rem;
    margin-top: 1rem;
  }

  .navList {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    width: 100%;
  }
}
