.header {
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
}

.payCollect {
  padding: 0.4rem 2rem;
  border-radius: 1.5rem;
  border: none;
  background: #200098;
  color: #fff;
  cursor: pointer;
}

.payCollect:hover {
  background: #25b6f2;
}

.profileArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconWrapper {
  margin-right: 1.2rem;
}

.headerItem {
  display: flex;
}

.headerItem span {
  padding-right: 1.2rem;
}

.header select {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.price {
  color: var(--color-accent-2);
}

.paymentModal {
  display: inline-block;
  position: fixed;
  left: 37%;
  top: 30%;
  z-index: 500;
  border-radius: 9px;
}

.payCollectWidget {
  display: inline-block;
  position: relative;
  border-radius: 9px;
}

.close {
  background: red;
  font-size: 1.9rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  transform: translate(1.5rem, -1.5rem);
  cursor: pointer;
  z-index: 600;
}

@media screen and (min-width: 499px) {
  .profileArea {
    width: 30rem;
  }
}
